@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --bg: hsl(217, 54%, 11%);
  --card: hsl(216, 50%, 16%);
  --bdaycard: hsl(27, 100%, 50%);
  --softblue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  font-family: "Outfit", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg);


 
}
